Board Agenda Approval Workflow/Board Agenda Approval Workflow/Modules/WorkflowsBoard_Agenda_Approval_/Files/Workflows/3BoardAgendaApproval/rootschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls"><xsd:import namespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" schemaLocation="dfschema.xsd"/><xsd:import namespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" schemaLocation="qfschema.xsd"/><xsd:element name="myFields"><xsd:complexType><xsd:sequence><xsd:element name="queryFields"><xsd:complexType><xsd:sequence><xsd:element ref="q:SharePointListItem_RW" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="dataFields"><xsd:complexType><xsd:sequence><xsd:element ref="d:SharePointListItem_RW" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:anyAttribute namespace="##other" processContents="lax"/></xsd:complexType></xsd:element></xsd:schema>
